*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#para {
    font-size:x-small;
    width: 50%;
}

.othertag{
    position: absolute;
    margin-left: 60%;
    top: 12px;
}

#me{
    filter: brightness(120%);
}

.content{
    position: absolute;
    display: flex;
    left: 12%;
    top: 40%;
    height: 100px;
    justify-content: space-between;
}

.list{
    position: absolute;
    left: 75%;
    top: 10px;
}

.table{
    position: absolute;
    left: 20%;
    top: 57%;
}  

.chess{
    position: absolute;
    left: 40%;
    top: 60%;
} 

.players{
    position: absolute;
    left: 63%;
    top: 60%;
} 

.form{
    width: 30%;
    position: absolute;
    top: 100%;
    margin-left: 20px;
}

.task{
    position: absolute;
    top: 100%;
    left: 35%;
}

#css{
    position: absolute;
    left: 35%;
    top: 130%;
}
/* ------------------------------------------------------ */

#card{
    position: absolute;
    left: 35%;
    top: 135%;
}

#ins{
    position: absolute;
    left: 50%;
    top: 130%;
}

#goo{
    position: absolute;
    left: 50%;
    top: 135%;
}

#feb{
    position: absolute;
    left: 50%;
    top: 140%;
}

#f14{
    position: absolute;
    left: 50%;
    top: 125%;
}
#f15{
    position: absolute;
    left: 60%;
    top: 125%;
}

#slider{
    position: absolute;
    left: 60%;
    top: 130%;
}

#animation{
    position: absolute;
    left: 60%;
    top: 135%;
}
#Carlight{
    position: absolute;
    left: 60%;
    top: 140%;
}